{% extends 'admin_base.html' %}
{% load static %}



{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Expenditure</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="invoice p-3 mb-3" style="min-height: 300px;">
    <!-- form start -->
    <form method="POST" >
        {% csrf_token %}

        <label style="width: 550px;">Name: {{ form.name }}</label>

        <label style="width: 550px; margin-left: 5px;">Amount: {{ form.amount }}</label>
        <br>
        <label style="width: 220px;">Date: {{ form.date }}</label>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
    </div>
  </div>
</section>
</div>

{% endblock content %}

{% block javascript %}

<script>
  $(function () {
      $('#reservationdate').datetimepicker({
        format: 'L'
    });
  })
</script>

{% endblock javascript %}