{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>AkalaRecondition</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- start menu -->
<link href="{% static 'css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'js/megamenu.js' %}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="{% static 'js/jquery.easydropdown.js' %}"></script>
<script src="{% static 'js/simpleCart.min.js' %}"> </script>
</head>
<body>
	<div class="banner">
   	  <div class="container">
   	  	<div class="header_top">
           <div class="header_top_right">
		   		<ul class="header_user_info">
					<a class="login" href="">
						<i class="user"> </i> 
						<li class="user_desc">My Account</li>
					</a>
					<div class="clearfix"> </div>
				</ul>
		    <!-- start search-->
				<div class="search-box">
				   <div id="sb-search" class="sb-search">
					  <form>
						 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
						 <input class="sb-search-submit" type="submit" value="">
						 <span class="sb-icon-search"> </span>
					  </form>
				    </div>
				 </div>
				 <!----search-scripts---->
				 <script src="{% static 'js/classie1.js' %}"></script>
				 <script src="{% static 'js/uisearch.js' %}"></script>
				   <script>
					 new UISearch( document.getElementById( 'sb-search' ) );
				   </script>
					<!----//search-scripts---->
		            <div class="clearfix"> </div>
			 </div>
		     <div class="clearfix"> </div>
	  </div>
	  <div class="header_bottom">
	   <div class="logo">
		  <h1><a href="{% url 'home' %}"><span class="m_1">AKALA</span>RECONDITION</a></h1>
	   </div>
   	   <div class="menu">
	     <ul class="megamenu skyblue">
				<li><a class="color10" href="#home">BIKES</a></li>
				<li><a class="color10" href="#home">SCOOTERS</a></li>
				<li><a class="color10" href="{% url 'contact' %}">CONTACT</a></li>
				
				<div class="clearfix"> </div>
			</ul>
			</div>
	        <div class="clearfix"> </div>
	        </div>
	    </div>
   </div>

   <div class="main">
    <div class="middle_content">
    	<div class="container">
    		<h2>About Us</h2>
    		<p>Akala Recondition is one of the best places in Pokhara providing a wide range of Motercycles and Scooters that are very popular in the country and are well recognized for its quality services. Our aim is to reach out to customers and deliver the space for buying, selling or exchanging used two-wheelers inside Pokhara valley.</p>
    	</div>
    </div>
   	<div class="content_middle_bottom">
	   	<div class="middle_content" id="home">
	   	<div class="container">
    		<h1>Our Products</h1>
		</div>
		</div>
   		<div class="header-left">
		      <section>
				<ul class="lb-album" >
				{% for product in products %}
					<li>
						<a href="#{{ product.bike_number }}">
							{% if product.image %}
							<img src="{{ product.image.url }}"  class="img-responsive" alt="image01"/>
							{% endif %}
							<span>{{ product.name }}</span>
						</a>
						<div class="lb-overlay" id="{{ product.bike_number }}">
							<a href="#page" class="lb-close">x Close</a>
							{% if product.image %}
							<img src="{{ product.image.url }}"  class="img-responsive" alt="image01"/>
							{% endif %}
							<div>
								<h3>{{ product.name }}</h3>{{ product.bike_number}} ({{ product.model }} Model)
								<p>Fresh and in good condition. <br/><span>Rs. {{ product.sale_price }}</span></p>
							</div>
						</div>
					</li>
					{% endfor %}
					
					<div class="clearfix"></div>
				</ul>
			</section>
		</div>
	  </div>
   </div>

   <div class="footer">
   	 <div class="container">
   	 	<div class="newsletter">
			<h3>Newsletter</h3>
			<p>Subscribe to our newsletter for latest updates.</p>
			<form method="POST">
            	{% csrf_token %}
			  <input type="text" name="email" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}" required> 
			  <input type="submit" value="SUBSCRIBE">
			</form>
		</div>
   		<div class="cssmenu">
		   <ul>
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">About</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href="https://www.facebook.com/akalareconditionandservicecenter"><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2021 AkalaRecondition. All Rights Reserved | Developed by <a href="https://milanale.herokuapp.com/" target="_blank">Milan</a></p>
	    </div>
   	</div>
   </div>
</body>
</html>		