{% extends "base.html" %}
{% load static %}



{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Products</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="text-info">Home</a></li>
              <li class="breadcrumb-item active">Products</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
        {% for product in products %}
          <div class="col-md-6">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header">
                <div class="user-block">
                  <label><a href="{% url 'product_detail' product.slug %}" class="text-info">{{ product.name }}</a> ( {{ product.model }} )</label>
                  <label class="description" style="margin-left: 10px;">Bike Number: {{ product.bike_number }} <br/> Sale Price: Rs. {{ product.sale_price }}</label>
                  <p class="description" style="margin-left: 10px;">Posted On:  {{ product.date }}</p>
                </div>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                {% if product.image %}
                <img class="img-fluid pad" src="{{ product.image.url }}" alt="Photo">
                {% endif %}
                </div>
              </div>
          </div>
          <!-- /.col -->
        {% endfor %}
        </div>
        <!-- /.row -->
    </div>
</section>

</div>
{% endblock content %}

{% block javascript %}



{% endblock javascript %}