{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Update Product</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

<!-- Main content -->
<section class="content">
    <!-- form start -->
    <form method="POST">
        {% csrf_token %}

        <label>Name:</label>
        {{ form.name }}
        <label>Model:</label>
        {{ form.model }}
        <label>Number</label>
        {{ form.bike_number }}
        <label>Buy Price:</label>
        {{ form.price }}
        <label>Expense:</label>
        {{ form.expense }}
        <label>Sale Price:</label>
        {{ form.sale_price }}
        <label>Owner:</label>
        {{ form.owner }}
        <label>Contact:</label>
        {{ form.contact }}
        <label>Sanakhat:</label>
        {{ form.sanakhat }}
        <label>Passed:</label>
        {{ form.passed }}


    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
    </form>
</section>
</div>

{% endblock content %}

{% block javascript %}

<script>
  $(function () {
      $('#reservationdate').datetimepicker({
        format: 'L'
    });
  })
</script>

{% endblock javascript %}